.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center; /* Добавлено центрирование содержимого по вертикали */
  background-color: white;
  margin-bottom: 111px;
  height: 111px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  min-width: 100%;
}

.logo {
  display: flex;
  padding-left: 34px;
  flex-direction: column;
  align-items: center; /* Добавлено центрирование содержимого по вертикали */
}
.logo img {
  width: 37px;
  height: 47px;
  margin-right: 10px;
}

.logo p {
  font-size: 12px;
  color: #00a4ae;
  text-align: center;
  line-height: 14.52px;
  margin: 0;
}

.buttons {
  display: flex;
}

.buttons button {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  padding: 5px 10px;
  width: 200px;
  height: 60px;
  background: linear-gradient(180deg, #c0ecff 0%, #c0ecff 100%);
  border-radius: 5px;
  font-size: 10px;
  text-align: left;
}

.buttons button img {
  width: 38px;
  height: 43px;
  margin-right: 5px;
}

.buttons button span {
  padding-left: 3px;
}

.logo_text {
  font-weight: 600;
  font-size: 64px;
  line-height: 77.45px;
  align-items: center;
  background: linear-gradient(180deg, #0166b3 21.62%, rgba(0, 0, 0, 0.85) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.main-content {
  width: 100%;
  height: calc(100vh - 100px); /* высота страницы минус высота шапки */
}
.header {
  position: absolute;
  width: 100%;
  z-index: 999;
}

/* Стили для фона начального экрана */
.home-background {
  background: rgba(211, 242, 255, 1);
}

/* Стили для фона страницы экологического атласа */
.ecological-background {
  background: linear-gradient(180deg, #FFCC00 0%, rgba(192, 236, 255, 0) 100%);
}
.button {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  padding: 5px 10px;
  width: 200px;
  height: 60px;
  background: linear-gradient(180deg, #c0ecff 0%, #c0ecff 100%);
  border-radius: 5px;
  font-size: 10px;
  text-align: left;
}

.button img {
  width: 38px;
  height: 43px;
  margin-right: 5px;
}

.button span {
  padding-left: 3px;
}

.active.button {
  background-color: yellow; /* Изменяем цвет фона кнопки на желтый */
}

.red.button {
  background-color: red; /* Изменяем цвет фона кнопки на красный */
}

.greev.button {
  background-color: green; /* Изменяем цвет фона кнопки на зеленый */
}

.nav_menu a span{
  margin-right: 30px;
  font-size: 24px;
  color: rgba(0, 47, 168, 1);
  width: 156px;
  height: 56px;
  border-radius: 14px;
  text-align: center;
  display: inline-flex; /* чтобы ссылки имели ширину и высоту */
  justify-content: center; /* выравниваем содержимое по центру по горизонтали */
  align-items: center;
  text-decoration: none; /* чтобы убрать подчеркивание ссылок */
  line-height: 56px; /* выравнивание текста по вертикали */
}
.nav_menu a span:hover{
  background: rgba(211, 242, 255, 1);
}

.nav_menu a {
  display: inline-flex; /* чтобы ссылки имели ширину и высоту */
  justify-content: center; /* выравниваем содержимое по центру по горизонтали */
  align-items: center; /* выравниваем содержимое по центру по вертикали */
  width: 156px; /* ваша заданная ширина */
  height: 56px; /* ваша заданная высота */
  text-decoration: none; /* чтобы убрать подчеркивание ссылок */
}
.left_main_content_tema{
  background: linear-gradient(90deg, rgba(193, 237, 255, 0.238) 0%, rgba(202, 245, 255, 0.360329) 21%, rgba(211, 255, 255, 0) 100%);
  height: calc(100vh - 100px); /* высота страницы минус высота шапки */
  width: 20%;
  motion-rotation: -180deg;
}
.flex_main_content {
  display: flex;
}
.center_main_content_tema{
  background:rgba(211, 242, 255, 1);
  height: calc(100vh - 100px); /* высота страницы минус высота шапки */
  width: 60%;
}
.right_main_content_tema{
  background: linear-gradient(90deg, rgba(193, 237, 255, 0.238) 0%, rgba(202, 245, 255, 0.360329) 21%, rgba(211, 255, 255, 0) 100%);
  height: calc(100vh - 100px); /* высота страницы минус высота шапки */
  width: 20%;
}